name:  Deploy

on:
  pull_request:
    types: 
      - closed
    branches:
      - develop
  push:
    branches: [ main ]

jobs:
  deploy-dev: 
   name: Deploy to dev
   environment:
     name: dev
   if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'feature/')
   runs-on: ubuntu-latest
   steps:
      - run: echo Deploy to dev 
     
  deploy-testing:
    name: Deploy to testing
    environment:
      name: Testing
   if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'develop')
    runs-on: ubuntu-latest
    steps:
      - run: echo Deploy to testing 
        
  deploy-staging:
    name: Deploy to staging
    environment:
      name: Staging
    if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'main')
    runs-on: ubuntu-latest
    steps:
      - run: echo Deploy to staging 
        
  deploy-production:
    name: Deploy to production
    environment:
      name: Production
    needs: [deploy-staging]
    runs-on: ubuntu-latest
    steps:
      - run: echo Deploy to production