name:  Deploy

on:
  pull_request:
    branches:
      - develop
  push:
    branches: [ main ]

jobs:
  deploy-dev: 
   name: Deploy to dev
   environment:
     name: dev
   if: github.event.pull request.head.ref == 'refs/heads/feature/*'
   runs-on: ubuntu-latest
   steps:
      - run: echo Deploy to dev 
     
  deploy-testing:
    name: Deploy to testing
    environment:
      name: Testing
    if: github.event.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - run: echo Deploy to testing 
        
  deploy-staging:
    name: Deploy to staging
    environment:
      name: Staging
    if: github.event.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - run: echo Deploy to staging 
        
  deploy-production:
    name: Deploy to production
    environment:
      name: Production
    needs: [deploy-staging]
    runs-on: ubuntu-latest
    steps:
      - run: echo Deploy to production